<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grancentre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_grancentre"
        android:label="Gran Centre"
        android:roundIcon="@mipmap/ic_grancentre_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GranCentre">
        <activity
            android:name=".infopelis"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>
        <activity
            android:name=".Pelicula"
            android:exported="true" />
        <activity
            android:name=".bussinesActivity"
            android:exported="true" />
        <activity
            android:name=".Business"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>